# liunting
flake8==6.1.0
isort==5.10.1
black==21.12b0
autopep8==1.6.0

# app
uvicorn==0.23.2
fastapi_versioning==0.10.0
fastapi==0.101.0
sqlalchemy==2.0.19
pymysql==1.1.0
pydantic==2.1.1
pytest==7.4.0
assertpy
coloredlogs==15.0.1

# docu
mkdocs

#file parsing
pyyaml